---
layout: default
---
<div class="col-sm-12">
    <div class="posts">
    	<div class="page-title">
    		{{ page.title }}
    		<div class="postlist-meta">
    			Posted
                {% if site.owner.name %}
                by {{site.owner.name}},
                {% endif %}
    			<time class="timeago" datetime="{{ page.date }}">{{ page.date |  date: "%A %-d %B %Y" }}</time>,
    			<a href="{{ page.url }}#disqus_thread">0 <i class="fa fa-comments-o fa-lg"></i></a>
    			comments.
    		</div>
    	</div>
        </div>
        <div class="post">
            {{ content }}
            <div class="post-license">
                <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a>本作品由<a xmlns:cc="http://creativecommons.org/ns#" href="{{ "/about/" | prepend: site.url }}" property="cc:attributionName" rel="cc:attributionURL">Yang Li</a>创作，采用<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">知识共享Attribution-NoDerivatives 4.0 国际许可协议</a>进行许可。
            </div>
            {% include scripts/signoff_block.html %}
        </div>
    </div>
</div>
<script>
    $(".page-preview-icon").hover(function(){
        $(this).parents(".page-nav").css("z-index","5000");
    });
</script>
